.policy {
  max-width: 1160px;
  display: grid;

  @media (min-width: 1024px) {
    padding-top: 120px;
    padding-bottom: 60px;
    row-gap: 24px;
  }

  @media (max-width: 1023.98px) {
    row-gap: 16px;
  }

  @media (min-width: 768px) and (max-width: 1023.98px) {
    padding-top: 60px;
  }

  @media (max-width: 767.98px) {
    padding-top: 24px;
    font-size: 14px;
  }

  h1,
  h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;

    &:not(:first-child) {
      @media (min-width: 1024px) {
        margin-top: 36px;
      }

      @media (max-width: 1023.98px) {
        margin-top: 32px;
      }
    }
  }
}

.lights {
  width: min(125%, 1794px);
  left: 50%;
  transform: translateX(-50%);

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &--1 {
    margin-right: -4px;
    top: 8.53%;
  }

  &--2 {
    top: 37.28%;
    margin-left: -41px;
  }

  &--3 {
    top: 65.24%;
    margin-right: -32px;
  }
}
